<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Accident Severity Prediction </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon1.ico" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <style>
  	body {background-image: url('../static/img/world.jpg');    background-repeat: no-repeat; background-attachment: fixed; background-size:cover;}
  </style>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body text="black">
	
	
	<div class="login">
		<!--Get input for predict accident-->
		<center>
			<form action="{{ url_for('predict')}}"method="post">
				<h1>ACCIDENT SEVERITY PREDICTION  </h1><h2>       ENTER FIELDS</h2>
				<input type="text" name="Number_of_vehicles_involved" placeholder="Number_of_vehicles_involved" required="required" /><br>
				<input type="text" name="Number_of_casualties" placeholder="Number_of_casualties" required="required" /><br>
				<input type="text" name="Day_of_week" placeholder="Day_of_week" required="required" /><br>
				<input type="text" name="Age_band_of_driver" placeholder="Age_band_of_driver" required="required" /><br>
                <input type="text" name="Area_accident_occured" placeholder="Area_accident_occured" required="required" /><br>
                <input type="text" name="Types_of_Junction" placeholder="Types_of_Junction" required="required" /><br>
                <input type="text" name="Light_conditions" placeholder="Light_conditions" required="required" /><br>
                <input type="text" name="Weather_conditions" placeholder="Weather_conditions" required="required" /><br>
                <input type="text" name="Time_hour" placeholder="Time_hour" required="required" /><br>

				<!-- show button-->
				<div class="button_cont" align="center"><a class="button_css">
					<button text="blue" type="submit" class="btn btn-primary btn-block btn-large"><strong><h4>CLICK HERE TO PREDICT </h4></strong>
						<h4 style="color:Tomato;">Fatal injury(0)</h4>
                        <h4 style="color:olive;">Serious Injury(1)</h4>
						<h4 style="color:DodgerBlue;">Slight Injury(2)</h4>
					</button></a>
				</div>
			</form>
		</center> <!--Show predicted output using ML model-->
		<div>
			<center>
				<h1>{{ prediction }}</h1>
				
			


                   

			
		</ul>
		
		</center>
	</div >

	</body>
	</html>